<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Book</title>
</head>
<body>
    <h1>Create New Book</h1>
    <form action="/books" method="post" enctype="multipart/form-data">
        Cover Image <input type="file" name="coverImageURL"><br>
        Title: <input type="text" name="title" required><br>
        Author: <input type="text" name="author" required><br>
        Excerpt: <textarea name="excerpt" cols="30" rows="10"></textarea>
        Completed <input type="checkbox" name="completed"><br>
        <input type="submit" value="Add Book">
    </form>
</body>
</html>