<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Fruits App</title>
</head>
<body>
    <h1>Welcome to the Fruits Index</h1>
    <% fruits.forEach(fruit => { %>
        <!-- <p><%= fruit.name %> </p> -->
        <a href="/fruits/<%= fruit.id %> "><%= fruit.name %> </a>
        <br>
    <% }) %>
</body>
</html>