* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

header, footer {
    display: flex;
    align-items: center;
    height: 5rem;
}