.receipt {
    border: 2px solid orange;
    width: 200px;
    
    padding: 20px;
}

.receiptsContainer {
    display: flex;
    flex-wrap: wrap;
}

.receiptsContainer > article{
    margin: 10px;
}


.orderDetails *{
    margin: 2px;
}

.orderItems {
    color: blueviolet;
}

.cost {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.form {
    display: flex;
    justify-content: center;
}

.form * {
    margin: 0 5px;
}