* {
    box-sizing: border-box;
}

body, h1 {
    margin: 0;
}

#mainHeader {
    background-color: aquamarine;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    padding: 0.5rem;
}

#pokemonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 10rem;
}

#header {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding: 10px 0;
}

.eachPokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    min-width: 300px;
    margin: 10px;
    border-radius: 10px;
}

.action {
    display: flex;
    margin-top: auto;
    background-color: aquamarine;
    width: 100%;
    justify-content: center;
    padding: 10px 0 10px 0;

}

.action * {
    margin: 0 10px 0 10px;
}