<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= pokemon.name %> </title>
</head>
<body>
    <h1>Edit <%= pokemon.name %></h1>
    <form action="">
        Name: <input type="text" name="name" value="<%=pokemon.name%>" /><br />
        Image: <input type="text" name="color" value="<%=pokemon.img%>" /><br /> 
        <input type="submit" value="Submit Changes">
    </form>
</body>
</html>