@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient(to right, #000, rgb(141, 132, 132), #000);
  padding-bottom: 2rem;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.studentsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.studentsContainer div {
  margin: 10px 1rem;
}

img {
  height: 10rem;
}

.card {
  width: 18rem;
}

.card-text {
  height: 10rem;
}

.header {
  color: white;
  background: transparent;
  z-index: 1;
  padding: 0.4rem;
}

.header.active {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
}

#myHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.burgerMenu {
  display: none;
}

.burgerMenu > img {
  height: 3rem;

}

@media (max-width: 700px){
  .card {
    width: 30rem;
  }

  img {
    height: 15rem;
  }

  .card-text {
    height: 7rem;
  }

  .nonBurgerMenu {
    display: none;
  }

  .burgerMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}