@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* max-width: 1000px; */
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.studentsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.studentsContainer div {
  margin: 10px 1rem;
}

img {
  height: 10rem;
}