<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script defer src="/js/script.js"></script> -->
    <title>Search For A Book</title>
</head>

<body>
    <h1>Search For A Book</h1>
    <nav style="margin-bottom: 5rem;">
        <a href="/books">Back To Books List</a>
        <a href="/books/new">Add a New Book</a>
    </nav>
    <input type="text">
    <button>Search</button>
    <ul></ul>


    <script>
        // Elements
        const buttonElement = document.querySelector('button');
        const inputElement = document.querySelector('input');
        const ulElement = document.querySelector('ul');

        // Event Listener
        buttonElement.addEventListener('click', handleClick)

        // Handler functions
        async function handleClick() {
            const searchTerm = inputElement.value;
            const response = await fetch('/books/search?term=' + searchTerm);
            const data = await response.json();
            console.log(data)

            const list = data.results.map(book => {
                return `
                <li>
                    <a href="${book._id}">${book.title}</a>
                </li>
                `
            }).join('')

            ulElement.innerHTML = list;
        }
    </script>
</body>

</html>