#createPersonForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 500px;
}

#createPersonForm * {
    margin: 5px;
}

.titleField, .submitBtn {
    grid-column: span 2;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}