* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 1.5rem;
}

.App * {
  padding: 10px;
}

.dashboard{
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.websiteVisitors {
  grid-column: span 3;
}
