<%- include('./partials/header') %>

<h1>My Reading List</h1>
<ul>
    <% books.forEach(book => { %>
    <li><a href="/books/<%= book._id %> "><%= book.title %> </a></li>
    <% }) %>
</ul>
<nav>
    <a href="/books/new">Add a New Book</a>
</nav>

<%- include('./partials/footer') %>